.embedded-form-mv__[data-2306211538] {
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;

    & > .form__ {
        max-width: 880px;
        margin-right: auto;
        margin-left: auto;
        padding: 40px 0;
        box-sizing: border-box;
        user-select: none;

        & > * {
            margin: 10px;
        }

        & > .title__ {
            margin-top: 12px;
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 24px;
        }

        & > .paragraph__ {

        }

        & > .checkbox__ {
            display: block;

            & > input {
                margin: 0 5px 0 0;
            }

            & > .paragraph__ {
                display: inline;

                & > span {
                    color: #ff0000;
                }
            }
        }

        & > * ~ * {
            font-size: 18px;
        }

        & > .paragraph__ {

        }

        & > .input__ > input, & > .button__ {
            display: inline;
            height: 30px;
            width: 100%;
            max-width: 300px;
            border-radius: 4px;
        }

        & > .input__ {
            position: relative;
            white-space: nowrap;

            & > input {
                position: relative;
                background: #eeeeee;
                border-style: solid;
                border-color: #e6e6e6;
            }
        }

        & > .input__:after {
            content: "*";
            position: absolute;
            display: inline-block;
            right: 4%;
            bottom: 1%;
            color: #ff0000;
        }

        & > .button__ {
            padding: 4px;
            border: none;
            background: linear-gradient(to top, #0aa6a6, #37f3f3);
            background-color: #0de0e0;
            color: #fff;
            cursor: pointer;
        }

        & > .button__:hover {
            position: relative;
            top: -1px;
            opacity: .9;
            transition: all 60ms ease-in-out 30ms;
        }

        & > .button__[disabled] {
            cursor: default;
            opacity: .5;
        }

        & > .button__[disabled]:hover {
            top: 0;
        }
    }
}